body{
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #2E4053;
    text-align: center; /* centers h1 */
}
h1{
    color: #FFFFFF;
    margin-top: 5px;
}
.container{
    width: 450px;
    height: 480px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    margin: 40px auto; /* centered container */
}
#output{
    font-size: 100px;
    text-align: center;
}
.plus{
    width: 120px;
    height: 150px;
    background-color: darkcyan;
    font-size: 100px;
    border-radius: 25px;
    margin-right: 50px;
    float:left;
    color: #fff;
    margin-bottom: 10px;
}
.minus{
    width: 120px;
    height: 150px;
    background-color:indigo;
    font-size: 100px;
    border-radius: 25px;
    color: #fff;
    float: right;
}
#reset{
    background-color: #6c757d;
    color: white;
    font-size: 35px;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 50px;
}
#page-loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #ffffff;    
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 2;
  transition: opacity 2.4s ease-out;   /* Only fade opacity */
  pointer-events: none;           
}
.loader {
  display: flex;
  gap: 16px;                 
}
.dot {
  width: 20px;                      
  height: 20px;
  background-color: #3498db;         
  border-radius: 50%;
  animation: bounce 2.8s infinite ease-in-out both; 
}
.dot:nth-child(1) { animation-delay: -0.68s; }
.dot:nth-child(2) { animation-delay: -0.32s; }
.dot:nth-child(3) { animation-delay: 0s; }

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Hide when page loads */
.loaded #page-loader {
  opacity: 0;
  transition: opacity 2.2s ease-out, visibility 0s 2.4s;  /* visibility delay */
}
footer {
‎  background-color: #333;
‎  color: #fff;
‎  padding: 20px;
‎  text-align: center;
‎}